.HEADER{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background-color:whitesmoke;
    height: 65px;
    box-shadow: 0px 3px 40px rgba(0,0,0,0.2);
    z-index: 100;
    display: flex;
}